.header__nav .nav {
  --nav-margin: 35px;

  position: relative;
  z-index: 2;

  &__list {
    display: flex;
    gap: var(--nav-margin);
  }

  &__item {
    position: relative;
  }

  &__link {
    color: #fff;
  }

  &__submenu {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    display: none;
    width: 200px;
    padding: 10px 0 10px 20px;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid #2b2b2b;
    background: rgba(28, 29, 31, 0.5);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    &:hover {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 20px;
    }

    & > .nav__submenu-item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link:hover + .nav__submenu,
  &__link:focus + .nav__submenu {
    display: block;
  }
}

.burger {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 28px;
  height: 20px;
  cursor: pointer;

  &__line {
    width: 100%;
    height: 1px;
    background-color: #fff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

.footer__nav .nav {
  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__link {
    line-height: 148%;
    transition: all 0.15s ease;
    color: #a8a8a8;

    &:hover {
      font-weight: 700;
      color: #81becb;
    }
  }
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: top .3s ease;
  background-color: #2b2b2b;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    margin-bottom: 30px;
    border-bottom: 1px solid #4a4a4a;
  }

  &__logo {
    width: 40%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    text-align: center;
  }

  &__item {
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__link {
    font-size: 40px;
  }

  &__bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    text-align: center;
    border-top: 1px solid #4a4a4a;
  }

  &__close {
    width: 10%;
    background-color: transparent;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1400px) {
  .header__nav .nav {
    --nav-margin: 15px;
  }
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }

  .nav-mobile__logo img {
    height: auto;
  }
}
